// COLORS

$c-white: #fff;
$c-red: rgb(187, 25, 25);
$c-green: rgb(40, 131, 40);
$c-orange: rgb(226, 150, 8);
$c-eneaBlue: rgb(43, 49, 121);

// COLORS WITH ALPHA

$c-black-alpha: rgba(0, 0, 0, 0.5);
